/*we set the default usefull configuration */
* {
  margin: 0;
  padding: 0;
}
/* we make the container the size of our screen and flex disposition */
.container {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* put the image in the back */
img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* style the form */
form {
  width: 35%;
  height: 55%;
  padding: 3%;
  border-radius: 10px;
  z-index: 2;
  margin-top: -15%;
  background-color: rgba(12, 10, 10, 0.781);
  position: absolute;
}
/* we stile and add responsive design to our text */

form h1 {
  font-size: 3vw;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
p {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 2% auto;
  text-transform: capitalize;
  font-size: 1.3vw;
}

/* style the bottom button */
button {
  z-index: 2;
  margin-top: 60%;
  margin-bottom: 3%;
  width: 10%;
  padding: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(12, 10, 10, 0.781);
  color: white;
}
button a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
}
label {
  display: block;
  padding-bottom: 1%;
}
/* style checkbox */
.undertext > input {
  width: 3%;
  margin-bottom: 1%;
}
input {
  margin-bottom: 5%;
  width: 100%;
  padding: 2.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(12, 10, 10, 0.781);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3vw;
}
.undertext > label {
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  color: white;
}
/* effects added when clicked */
input:focus {
  outline: none !important;
  border: 1px solid #1668c4;
  box-shadow: 0 0 1vh #719ece;
}
/* finally we style our submit and reset buttons and add responsive design for under 600px */
input[type="submit"] {
  margin-bottom: 0;
  background-color: rgba(12, 10, 10, 0.781);
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: rgba(85, 84, 84, 0.781);
  box-shadow: 0 0 1vh #719ece;
}
input[type="reset"] {
  background-color: rgba(12, 10, 10, 0.781);
  color: white;
  border: none;
}
input[type="reset"]:hover {
  background-color: rgba(85, 84, 84, 0.781);
  box-shadow: 0 0 1vw #719ece;
}
@media (max-width: 600px) {
  form {
    padding-bottom: 5%;
  }
  form input {
    margin: 1%;
  }
}
